<a href="https://colab.research.google.com/github/RodrigoLima82/bootcamp_igti_data_engineering/blob/main/Modulo_01/Pratica/03_Load_Mysql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prática - Modulo 1 - IGTI - Data Engineering
- Autor: Rodrigo de Lima Oliveira
- LinkedIn: https://www.linkedin.com/in/rodrigolima82/

![title](https://github.com/RodrigoLima82/bootcamp_igti_data_engineering/blob/main/Modulo_01/Pratica/images/enem_logo.jpeg?raw=1)

## Instalando o Mysql dentro do Google Colabs

In [1]:
# Rodando a instalaçao do Mysql Server
!apt-get install mysql-server > /dev/null

In [2]:
# Iniciando a instancia do Mysql
!service mysql start

 * Starting MySQL database server mysqld
   ...done.

In [5]:
# Alterando a senha do root
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root'"

ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)

## Instalando as bibliotecas

In [6]:
# Instalando o PyMySQL
!pip -q install PyMySQL

In [8]:
# Importando as bibliotecas
import pandas as pd
from sqlalchemy import create_engine

## Configurando o acesso ao Mysql pelo Python

In [9]:
# Configurando sqlEngine e conexao
sqlEngine    = create_engine('mysql+pymysql://root:root@/mysql', pool_recycle=3600)
dbConnection = sqlEngine.connect()

## Importando dataset do Enem 2019 - Minas Gerais

In [72]:
# Importando o arquivo 'enem_2019_MG.zip'
from google.colab import files
uploaded = files.upload()

Saving enem_2019_MG.zip to enem_2019_MG (1).zip

In [10]:
df = pd.read_csv('enem_2019_MG.zip')
df.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q023  Q024 Q025
0  190001005671    2019                  3170206  ...    B     B    B
1  190001009861    2019                  3111705  ...    A     A    A
2  190001021622    2019                  3104007  ...    A     A    B
3  190001026636    2019                  3106200  ...    A     D    B
4  190001026742    2019                  3162401  ...    A     B    A

[5 rows x 136 columns]

## Criar tabela no mysql com o resultado do dataset do pandas

In [11]:
# Criar/Inserir tabela 'enem_2019' no mysql
df.to_sql('enem_2019', con=dbConnection, if_exists='append')

## Realizar consultas na tabela 'enem_2019'

In [12]:
# Carregando as configurações de conexao para realizar as consultas
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql mysql+pymysql://root:root@/mysql

'Connected: root@mysql'

In [14]:
# Qual é a média da nota em matemática de todos os alunos mineiros?
%sql SELECT ROUND(AVG(NU_NOTA_MT),2) FROM mysql.enem_2019

 * mysql+pymysql://root:***@/mysql

   ROUND(AVG(NU_NOTA_MT),2)
0                     546.8

In [15]:
# Qual é a média da nota de Linguagens e Códigos de todos os alunos mineiros?
%sql SELECT ROUND(AVG(NU_NOTA_LC),2) FROM mysql.enem_2019

 * mysql+pymysql://root:***@/mysql

   ROUND(AVG(NU_NOTA_LC),2)
0                    531.22

## Caso queira fazer as analises no Pandas, basta rodar o código abaixo

In [16]:
# Caso queira realizar as analises pelo Pandas
df_enem = pd.read_sql("select * from mysql.enem_2019", dbConnection);
df_enem.head()

   index  NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q022  Q023 Q024  Q025
0      0  190001005671    2019                  3170206  ...    D     B    B     B
1      1  190001009861    2019                  3111705  ...    C     A    A     A
2      2  190001021622    2019                  3104007  ...    C     A    A     B
3      3  190001026636    2019                  3106200  ...    D     A    D     B
4      4  190001026742    2019                  3162401  ...    C     A    B     A

[5 rows x 137 columns]

In [17]:
dbConnection.close()